body{
	font-family: 'Montserrat', sans-serif;
	font-family: Georgia, serif;
}
p{
	color: #555;
	line-height: 25px;
}
a:hover{
	text-decoration: none;
}

/* bodyall(after:before and heading) */
.queen::after{
	position: absolute;
	content: '';
	background: #333;
	width: 60px;
	left: 43%;
	height: 2px;
	margin-top: 9px;
}
.queen::before{
	position: absolute;
	content: '';
	background: #333;
	width: 60px;
	right: 43%;
	height: 2px;
	margin-top: 9px;
}
.queen i{
	color: #00BCD4;
	margin: 0 10px;
}
.heading{
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 6px;
	color: #161616;
}
/* //bodyall(after:before and heading) */

/* header */
.header_nav .fixed-top{
	background: rgba(15, 15, 15, 0.4);
}
.header_nav .navbar-brand{
	font-size: 40px;
}
.header_nav .navbar-nav{
	background: #00BCD4;
	padding: 10px 0 10px 20px;
}
.header_nav .navbar-brand h6{
	font-size: 16px;
	text-align: center
}
.header_nav .navbar-toggler-icon{
	font-size: 30px;
}
.header_nav .navbar-dark .navbar-nav .nav-link {
    color: #333;
	width: 100px;
	font-size: 20px;
}
.header_nav .navbar-dark .navbar-nav .active{
    color: #fff;
}
.header_nav .navbar-dark .navbar-nav .nav-link:hover{
	color: #fff;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}
/* //header */

/* main header */
.main-header h3{
	font-size: 90px;
}
.main-header span{
	font-weight: 600;
}
.main-header .demo-inner-content{
	padding-top: 30px;
	margin: 300px auto 80px auto;
	max-width: 100%;
}
.main-header .demo-inner-content i{
	padding: 20px 15px 0 15px;
	font-size: 50px;
}
/* //main header */

/* welcome */
.welcome{
	margin-top: 3rem;
}
.welcome .heading{
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 6px;
	color: #161616;
}
.welcome .wc-text{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}
.welcome i{
	font-size: 40px;
	float: left;
	height: 80px;
	width: 80px;
	padding-top: 16px;
}
.welcome .icon1{
	color: #0a8ea0;
}
.welcome .icon2{
	color: #f48924;
}
.welcome .icon3{
	color: #7ac143;
}
.welcome .icon4{
	color: #f85a40;
}
.welcome .numscroller{
	font-size: 2.5rem;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
}
.welcome h4{
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
}
.welcome span{
	color: #e7272d;
	text-decoration: underline;
}
.welcome .about-text{
	padding-right: 5rem;
}
.welcome .wc-style::after{
	position: absolute;
	content: '';
	background: #00BCD4;
	width: 50px;
	top: 45%;
	left: 115%;
	height: 2px;
}
.welcome .wc-style::before{
	position: absolute;
	content: '';
	background: #00BCD4;
	width: 50px;
	top: 45%;
	right: 115%;
	height: 2px;
}
.welcome .wc-style{
	color: #00BCD4;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid #00BCD4;
	position: absolute;
	right: 0px;
	bottom: 40%;
	transform: rotate(-90deg);
	padding: 10px 20px;
}
.welcome .btn {
	font-size: 16px;
	color: #fff;
	margin-top: 2rem;
	border-radius: 30px;
	padding: 12px 30px;
}
.welcome .left-btn{
	background: #e7272d;
}
.welcome .right-btn{
	background: #00BCD4;
}
.welcome .btn:hover{
	background: #333333;
}
/* //welcome */

/* video */
.video{
	background: #333;
}
.video h2{
	font-size: 160px;
	text-align: center;
	position: absolute;
	font-weight: 800;
	color: #aaa;
	top: 0px;
	right: 0;
	left: 10%;
	opacity: .05;
}
.video .video-text h4{
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
}
.video .video-img h4{
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
}
.video .video-text h5{
	color: #aaa;
	font-size: 30px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 25px;
} 
.video .video-text{
	position: relative;	
}

/* services */
.services .right h4{
	text-align: right;
}
.services .right p{
	text-align: right;
}
.services .fashion-shows{
	text-align: center;
}
.services .sr-text h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	letter-spacing: 2px;
	color: #333;
}
.services .sr-text span{
	text-decoration: underline;
	color: #e7272d;
}
.services .col-2{
	padding: 0;
}
/* //services */

/* blog */
.blog .bg{
	background: #000;
	margin-top: 40px;
}
.blog .bg h4{
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.blog .bg h5{
	color: #fff;
	font-size: 26px;
	letter-spacing: 2px;
	line-height: 35px;
	margin-bottom: 20px;
}
.blog .bg h6{
	color: #cfdae3;
	font-size: 16px;
	margin-bottom: 20px;
}
.blog .bg a{
	color: #777;
	font-size: 16px;
	border: 1px solid #777;
	padding: 10px 20px;
	margin-top: 20px;
}
.blog .bg a:hover{
	color: #0BBED5;
	border: 1px solid #0BBED5;
}
.blog .blog2{
	background: #333333;
}
/* //blog */


/* models */
.models .model{
	text-align: center;
}
/* //models */

/* footer */
.footer{
	background: #000;
}
.footer .footer-logo .logo-text{
	font-size: 35px;
	color: #fff;
	font-weight: 600;
}
.footer .footer-logo h6{
	font-size: 16px;
	color: #bbbbbb;
	text-align: center;
}
.footer .footer-logo span::after{
	position: absolute;
	content: '';
	background: #fff;
	width: 40px;
	left: 21%;
	height: 2px;
	margin-top: 9px;
}
.footer .footer-logo span::before{
	position: absolute;
	content: '';
	background: #fff;
	width: 40px;
	right: 21%;
	height: 2px;
	margin-top: 9px;
}
.footer .footer-logo p{
	font-size: 16px;
	color: #bbbbbb;
}
.footer .footer-logo li{
	height: 30px;
	width: 30px;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	text-align: center;
	padding-top: 2px;
	
}
.footer .footer-logo li:hover{
	border:1px solid #00BCD4;
}
.footer .footer-logo li a{
	font-size: 13px;
	color: #bbbbbb;
}
.footer .footer-logo li a:hover{
	color: #00BCD4;
}
.footer .Subscribe h4{
	font-size: 26px;
	color: #fff;
	letter-spacing: 2px;
}
.footer .Subscribe input{
	font-size: 15px;
	color: #212121;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 15px;
	letter-spacing: 2px;
	border-radius: 4px;
	border: none;
}
.footer .Subscribe input[type="submit"]:hover{
	background: #00BCD4;
}
.footer .links h4{
	font-size: 26px;
	color: #fff;
	letter-spacing: 2px;
}
.footer .links ul{
	padding-left: 0px;
}
.footer .links li a{
	font-size: 16px;
	color: #bbbbbb;
	letter-spacing: 1px;
}
.footer .links li a:hover{
	color: #00BCD4;
}
.footer .contact-us h4{
	font-size: 26px;
	color: #fff;
	letter-spacing: 2px;
}
.footer .contact-us ul{
	padding-left: 0px;
	color: #bbbbbb;
	font-size: 15px;
}
.footer .contact-us ul li{
	margin-bottom: 10px;
	letter-spacing: 1px;
}
.footer .contact-us span{
	color: #fff;
	text-decoration: underline;
}
.footer .contact-us ul li a{
	color: #bbbbbb;
}
.footer .contact-us ul li a:hover{
	color: #00BCD4;
}

/* single page */
/* header-img */
.header-img{
	background: url(../images/b1.jpg) no-repeat center;
}
.header-img .image{
	background: url(../images/dots.png);
}
.header-img .image-text h3{
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	padding-top: 150px;
	margin-bottom: 15px;
}
.header-img .image-text h6 span{
	color: #fff;
}
.header-img .image-text h6{
	padding-bottom: 60px;
}
.header-img .image-text h6 a{
	color: #00BCD4;
}

/* single page*/
	/* h4 and button */
.single h4{
	font-size: 28px;
	letter-spacing: 1px;
	color: #161616;
	margin: 22px 0 15px 0;
}
.single .btn {
	font-size: 16px;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 20px;
	border-radius: 30px;
	padding: 12px 30px;
}
.single .btn{
	background: #e7272d;
}
.single .btn:hover{
	background: #333333;
}
	/* //h4 and button */
.single .bolg-comment img{
	width: 15%;
	margin-right: 15px; 
}	
.single .bolg-comment h5{
	color: #00BCD4;
}	
.single input, textarea{
	width: 100%;
	margin-bottom: 10px;
	padding: 8px;
}
.single .blog_com_form textarea{
	height: 100px;
}
.single .list-group-item{
	color: #555;
}
.single .badge-primary{
	background: #555;
}
.single .percentCount{
	margin-top: 1px;
}
/* //single page*/


/* services */
.svideo .svideo_img{
	position: relative;
}
.svideo a{
	position: absolute;
	top: 33%;
	left: 43%;
}
/* //services */

/* bolg post */
.blogpost img{
	float: left;
	margin: 0 20px 10px 0;
}
/* //bolg post */

/*-- /contact post --*/
.contact_us .con_form{
	border: 2px dashed #494949;
	margin-top: 30px;
}
.contact_us .con_form form{
	padding: 30px;
}
.contact_us .con_form form h4{
	letter-spacing: 2px;
	margin-bottom: 25px;
}
.contact_us .con_form input, textarea{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #494949;
	padding: 10px;
	background: #F1F1F1;
}
.contact_us .con_form textarea{
	height: 150px;
}
.contact_us .con_form [type="submit"]{
	background: #00BCD4;
	border: none;
	transition: .5s;
	font-weight: 600;
}
.contact_us .con_form [type="submit"]:hover{
	background: #333;
	transition: .5s;
	color: #fff;
}
.map iframe{
	width: 100%;
	height: 400px;
}
/*-- //contact post --*/




